
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Baloo+Chettan+2:wght@500&family=DM+Sans:wght@400;500&family=Edu+NSW+ACT+Foundation&family=Roboto:wght@400;500&display=swap');


:root {
  --color-left-board: rgb(7, 145, 199);
  --colorFont-left-board: rgba(252, 250, 250, 0.938);

  --color-top-board:rgba(252, 250, 250, 0.938);
  --colorFont-top-board: rgb(17, 17, 17);
 

  --backgroundHeaderBoard: rgba(211, 220, 228, 0.842);

  /* titles */
  --font-size_base: 16px;
  --font-size_main: 2em;
  --font-size_medium: 1.5em;
  --font-size_medium-pre: 1.2em;
  --font-size_small: 1em;

  --font-family_titles: 'Roboto', sans-serif;

}

html, body, .container__dasboard {
  width: 100%;
  height: 100vh;
}

html {
  font-size: var(--font-size_base);
}

/*  --general class--  */
img {
  width: 100%;
}

.icon, .icon-avatar {
  display: inline-grid;
  width: 100%;
}
.icon-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(250, 164, 6);
}
.button {
  width: 6em;
  height: 2em;
  background: var(--color-left-board);


  font-family: var(--font-family_titles);
  font-weight: 500;
  font-size: var(--font-size_medium-pre);
  color: var(--colorFont-left-board);
  border-radius: 2em;
  border: none;

}

.img_item {
  margin-right: 1.1rem;
}
.title_small {
  font-family: var(--font-family_titles);
  font-weight: 700;
  font-size: var(--font-size_small);
}
.title_midle {
  font-family: var(--font-family_titles);
  font-weight: 700;
  font-size: var(--font-size_medium);
}

/*  --general container--  */
.container__dasboard {
  display: grid;
  grid-template-columns:minmax(250px, 500px) 80%;
  grid-template-rows: minmax(150px, 15%) 85%;
}

/*  --Header--  */
.top_board {
  grid-column: 2 / -1;
  padding: 1em 2em;
  background: var(--color-top-board);
  color: var(--colorFont-top-board);
  
  display: grid;
  align-items: center;
  grid-template-columns:minmax(200px, 60%) 40%;
  row-gap: 1em;
}

.search_container {
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
}
.search {
  margin-left: 1.5em;
  height: 25px;
  max-width: 800px;
  background-color: var(--backgroundHeaderBoard);
  border: 1px;
  border-radius: 25px;
}
.login_data_container {
  display: grid;
  align-items: center;
  justify-content: end;
  grid-auto-flow: column;
  gap: 2em;
}
.login_data_container .img_item {
  margin: 0;
  width: 25px;
  height: auto;
}
.login_data_container .icon-avatar {
  width: 40px;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_data_container img {
  width: 30px;
  height: auto;
}

.login_info_name {
  font-size: 1.1em;
  font-family: var(--font-family_titles);
  font-weight: 500;
}


.welcome_container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: start;
}
.icon-avatar-big {
  width: 55px;
  height: 55px;
}
.icon-avatar-big img {
  width: 45px;
  height: auto;
}
.wellcome_title { 
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

.change_container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 1em;
}


/*  --left_board--  */

.left_board {
  grid-row: 1 / -1;
  background: var(--color-left-board);
  padding: 1rem 1rem;
}
.container_mainTitle {
  display: grid;
  grid-template-columns: minmax(25px, 50px) auto;
  grid-auto-flow: column;
  column-gap: 1.1rem;
  justify-items: start;
  align-items: end;
}
.main_logo {
  width: 50px;
  display: grid;
}

.main_title {
  font-family: var(--font-family_titles);
  font-size: var(--font-size_main);
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--colorFont-left-board);
}

.left_board-between {
  margin-bottom: 4rem;
}

.nav_lists {
  margin-left: calc(50px/2 - 15px/2);
}
.nav_list .container_item {
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 25px auto;
    grid-auto-flow: column;
    column-gap: 1.5em;
    align-items: center;
}
.text_item {
  font-family: var(--font-family_titles);
  font-weight: 500;
  font-size: var(--font-size_medium-pre);
  color: var(--colorFont-left-board);
}


.main_board {
  background: lightgray;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  padding: 2em;
  
}

.projects {
  grid-row: 1/3;
  height: 100%;
}
.announce, .trending {
  grid-column: 2/3;
}
.announce {
  grid-row: 1/2;
}
.trending {
  grid-row: 2/3;
}

.card {
  background: white;
}